div.our-projects-block
  div.our-projects
    div.our-projects-header
      h3.slider-head-info
        span.standart-color Our
        span  projects
      div.control-projects-block.control-projects-block-main
        button#previousSlide(type="button")
          img(src="./build/img/Next.png")
        button#nextSlide(type="button")
          img(src="./build/img/Next.png")
    div.projects-control
      div.projects-slider-list
        each val, index in ['Duis suscipit venenatis','Ligula Dignissim','Dapibus sit amet','Quisque!']
          div.project-info
            div.project
            div.description= val
