header.header
  nav.head-control-panel
    div.search-block
       img#logo(src="./build/img/searchmenu.png")
    div.dropdowm-block
      button#dropdowm-button(type="button")
        img(src="./build/img/drpdwn.png")
    div.menu
      ul.menu-list
        li.menu-list-punkt.about ABOUT
        li.menu-list-punkt.products-copy PRODUCTS
        li.menu-list-punkt.blog BLOG
        li.menu-list-punkt.contact CONTACTS
  div.home-blog Home / Blog
