div.our-projects-block
  div.our-projects
    div.our-projects-header
      h3.slider-head-info
        span.standart-color Our
        span projects
      div.control-projects-block.control-projects-block-main-about-1
        button#previousSlide-1(type="button")
          img(src="./build/img/Next.png")
        button#nextSlide-1(type="button")
          img(src="./build/img/Next.png")
    div.projects-control.projects-control-about-1
      div.projects-slider-list.projects-slider-list-about-1
        div.project-info
          div.project
            h2.slide-h
              span.standart-color Maecenas ut sem ac tellus tempus hendrerit (1)
            p.slide-text Curabitur suscipit lorem in turpis rutrum facilisis. Sed risus erat, varius et orci non, eleifend ultricies tortor. Duis tempus commodo velit, quis aliquet augue cursus a. Aliquam auctor vitae libero sit amet dictum.
            br
            h2.slide-h
              span.standart-color Etiam venenatis - neque placerat ut (1)
            p.slide-text Suspendisse leo sem, tincidunt eget bibendum in, finibus quis purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.  In quis purus nibh. Curabitur euismod!
        div.project-info
          div.project
            h2.slide-h
              span.standart-color Maecenas ut sem ac tellus tempus hendrerit (1)
            p.slide-text Curabitur suscipit lorem in turpis rutrum facilisis. Sed risus erat, varius et orci non, eleifend ultricies tortor. Duis tempus commodo velit, quis aliquet augue cursus a. Aliquam auctor vitae libero sit amet dictum.
            br
            h2.slide-h
              span.standart-color Etiam venenatis - neque placerat ut (1)
            p.slide-text Suspendisse leo sem, tincidunt eget bibendum in, finibus quis purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.  In quis purus nibh. Curabitur euismod!
  div.our-projects
    div.our-projects-header
      h3.slider-head-info
        span.standart-color Our
        span projects
      div.control-projects-block.control-projects-block-main-about-2
        button#previousSlide-2(type="button")
          img(src="./build/img/Next.png")
        button#nextSlide-2(type="button")
          img(src="./build/img/Next.png")
    div.projects-control.projects-control-about-2
      div.projects-slider-list.projects-slider-list-about-2
        div.project-info
          div.project
            p.slide-text “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec dolor dui. Phasellus vitae dapibus velit, a bibendum mi. Nunc fringilla augue non nibh pellentesque, non ultricies quam hendrerit.”
            br
            p John Doe, Doe Inc
            br
            p.slide-text “Quisque suscipit quam vel tortor luctus, sit amet sagittis ante eleifend. In quis purus nibh. Curabitur euismod, nunc a aliquam dictum, magna mauris vestibulum massa, nec luctus arcu ligula quis tortor.”
            br
            p Pierre Tsukurov, iCompanyName
        div.project-info
          div.project
            p.slide-text “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec dolor dui. Phasellus vitae dapibus velit, a bibendum mi. Nunc fringilla augue non nibh pellentesque, non ultricies quam hendrerit.”<br>John Doe, Doe Inc
            br
            p.slide-text “Quisque suscipit quam vel tortor luctus, sit amet sagittis ante eleifend. In quis purus nibh. Curabitur euismod, nunc a aliquam dictum, magna mauris vestibulum massa, nec luctus arcu ligula quis tortor.”
            br
            p Pierre Tsukurov, iCompanyName
