footer.footer
  div.footer-content
      div.footer-column
        h3.footer-column-head
          span About
          span.standart-color us
        div.footer-column-content
          div.text-image
            div.image-hold
            p.footer-text Sed erat justo, dapibus sit amet dictum sit amet, condimentum vel erat. Maecenas mollis.
          div.footer-text Duis suscipit venenatis sapien, et dictum ligula dignissim non. Nunc sapien justo, faucibus commodo ullamcorper nec, tempor vitae quam.
            a(href="#") Read more
      div.footer-column
        h3.footer-column-head
          span From our
          span.standart-color blog
        div.footer-column-content
          div.text-image
            div.image-hold
            p.footer-text Vestibulum volutpat sollicitudin consequat. Nam nec elit rutrum, sollicitudin ante nec...
          br
          div.text-image
            div.image-hold
            p.footer-text Praesent ac neque laoreet, sagittis ipsum vitae, ullamcorper nibh. Morbi tum...
      div.footer-column
        h3.footer-column-head.null-h3
          br
        div.footer-column-content
          div.text-image
            div.image-hold
            p.footer-text Vestibulum volutpat sollicitudin consequat. Nam nec elit rutrum, sollicitudin ante nec...
          br
          div.text-image
            div.image-hold
            p.footer-text Praesent ac neque laoreet, sagittis ipsum vitae, ullamcorper nibh. Morbi tum...
      div.footer-column
        h3.footer-column-head
          span our
          span.standart-color Location
        div.footer-column-content.footer-column-contacts
          p.footer-text
            span Suspendisse ullamcorper diam ex.
            br
            span 154 Street Name 242
            br
            span Cityname, Country
            br
            br
            a(href="#") info@domainame.com
        br
        div.footer-image-block
          img(src="./build/img/Facebook.png")
          img(src="./build/img/Google.png")
          img(src="./build/img/Pinterest.png")
          img(src="./build/img/Twitter.png")
