doctype html
html(lang="en" dir="ltr")
  head
    title About
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="./build/css/about.css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet")
  body
    include header/header-about.pug
    include main-content/about/main-content-about.pug
    include redblock/about/redblock-about.pug
    include slider/about/slider-about.pug
    include footer/footer.pug
    script(src="./build/js/about.js")
