doctype html
html(lang="en" dir="ltr")
  head
    title Main
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="./build/css/main.css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet")
  body
    include header/header-main.pug
    div.main
      include main-content/main/main-content-main.pug
      include redblock/main/redblock-main.pug
      include slider/main/slider-main.pug
      include footer/footer.pug
    script(src="./build/js/main.js")
