div.banner
  div.suspendiss SUSPENDISSE ELEMENTUM
  div.lorem-ipsum Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed convallis nibh, eget scelerisque erat. Sed elementum at nisl id euismod. Nullam eget justo magna.
  button.banner-button(type="button") LEARN MORE
