div.our-projects-block
  div.our-projects
    div.our-projects-header
      h3.slider-head-info
        span.standart-color Our
        span  projects
      div.control-projects-block.control-projects-block-main
        button#previousSlide(type="button")
          img(src="./build/img/Next.png")
        button#nextSlide(type="button")
          img(src="./build/img/Next.png")
    div.projects-control
      div.projects-slider-list
        div.project-info
          div.project
          div.description Duis suscipit venenatis
        div.project-info
          div.project
          div.description Ligula Dignissim
        div.project-info
          div.project
          div.description Dapibus sit amet
        div.project-info
          div.project
          div.description Quisque!
