div.main-content-1
  div.content-block
    h3.post-name
      span we are your
      span.standart-color  best
      span  option
    p.post-text Aliquam nibh arcu, pharetra et ipsum eget, finibus suscipit odio. Morbi ornare posuere rutrum. Praesent mauris nunc, blandit a enim in, faucibus laoreet nisi. Curabitur volutpat elit sit amet molestie eleifend. Sed rutrum odio nec neque rhoncus dictum. Donec vitae
      a(href="#") sollicitudin
      span nunc. Pellentesque sed libero quam.
  div.content-block
    h3.post-name
      span.standart-color Clients
      span  choose us!
    p.post-text Maecenas ut sem ac tellus tempus hendrerit. Curabitur suscipit lorem in turpis rutrum facilisis. Sed risus erat, varius et orci non, eleifend ultricies tortor. Etiam venenatis purus turpis, eu semper neque placerat ut.
    br
    p.post-text Curabitur suscipit ligula at metus malesuada iaculis.
      a(href="#") Learn more
