div.how-we-can-help
  h2.how-we-can-help-info how we can help?
  div.services
    div.services-list
      h4.services-list-name
        img(src="./build/img/download.png")
      p.services-list-description Cras in interdum nisi, vitae blandit lectus. In imperdiet dolor eu justo rhoncus, id auctor lacus.
    div.services-list
      h4.services-list-name
        img(src="./build/img/sings.png")
      p.services-list-description Duis vitae lorem nulla. Aenean lacinia purus neque, eu pulvinar ex placerat nec. Nam elementum.
    div.services-list
      h4.services-list-name
        img(src="./build/img/caddy_full.png")
      p.services-list-description Nunc lectus consectetur nulla, quis dictum augue leo eu mauris. Nulla pretium felis non dui ultrices.
    div.services-list
      h4.services-list-name
        img(src="./build/img/battery_2.png")
      p.services-list-description Praesent ac neque laoreet, sagittis ipsum vitae, ullamcorper nibh. Mori dictum orci ligula, non aliquet.
